section {
    background-color: rgb(175, 174, 174);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/greceAntique.png);
    background-size: cover;
    position: fixed;

}
section:before {
    content: "";
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.7;
}

.play {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px; 
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 46, 46);
    border-radius: 100%;
    z-index: 99;
}

.playIcon {
    width: 50%;
    height: 50%;
}

/*.step1:before {
    background-image: url(../images/greceAntique_M_Aurelius.png);

}*/

.step1, .step2, .step3, .step4, .step5 {
    flex-direction: column;
    opacity: 0;
    transition: .5s;
}

.stepInner {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

p, #meilleursVoeux {
    font-family: 'Noto Serif', serif;
    color: black;
    font-size: large;
    
}

#annee {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-size: 96px;
    color: black;
}

.voeux ,#voeux2 {
    background-color: rgb(207, 207, 207);
    opacity: 0.7;
    margin: 1rem;
    padding: 1rem;
    border-radius: 30px;
    opacity: 0;
    position: relative;
    transition: all 3s;
}

#voeux1 {
    top: -190px;
}

#voeux2 {
    right: -150px;
}

#voeux3 {
    left: -150px;
}

.citation {
    background-color: rgb(207, 207, 207);
    border-radius: 30px;
    padding: 1rem;
    margin-top: 1rem;
    opacity: 0;
    transition: all 3s;
    position: relative;  
}

#citation {    
    bottom: -100px;  
}

#citation2 {
    left:-1000px;
}

#citation3 {
    right: -1000px;
}

.step2, .step3, .step4, .step5 {
    /*display: none;*/
    opacity: 0;
}l

.play {
    cursor: pointer;
}

.imgPhilosophe, #imgPhilosophe2, #imgPhilosophe3, #imgPhilosophe4, #imgPhilosophe5 {
    opacity: 0;
    transition: all 2s;
}

#imgPhilosophe3 img {
    height: 0;
    width: 0;
}

#step1:before {
    background-color: #13bce6be;
    z-index: 0;
    opacity: .5;
}

#step3:before {
    background-color: #512205;
    z-index: 0;
    opacity: .5;
}

#step4:before {
    background-color: #343232d1;
    z-index: 0;
    opacity: .5;
}

#step5:before {
    background-color: #1356e64a;
    z-index: 0;
    opacity: .5;
}

/*#my-audio {
    transition: 3s;
}*/